{% extends 'base.html.twig' %}

{% block body %}
<table class="table text-center">
        <tr>
            <th class="active text-center">id</th>
            <th class="active text-center">Nom</th>
            <th class="active text-center">Sigle</th>
            <th class="active text-center">Market cap</th>
            <th class="active text-center">projet</th>
            <th class="active text-center">Categorie</th>
            <th class="active text-center">Price</th>
            <th class="active text-center">Date creation</th>
            <th class="active text-center">Action</th>
        </tr>
         {% for crypto in cryptos %}
            <tr>
                <td>{{crypto.id}}</td>
                <td><a href="{{ path('cryptomonnaie.show', {id: crypto.id}) }}">{{crypto.name}}</a></td>
                <td>{{crypto.slug}}</td>
                <td>{{crypto.marketCap}}</td>
                <td>{{crypto.projet}}</td>
                <td>{{crypto.categorie}}</td>
                <td>{{crypto.price}}</td>
                <td>{{crypto.dateCreation|date('Y-m-d')}}</td>
                <td><a href="{{ path('cryptomonnaie.delete', {id: crypto.id}) }}"class="btn btn-danger">Supprimer</td>
                <td> <a href="{{ path('cryptomonnaie.edit', {id: crypto.id}) }}">Modifier</td>

            </tr>

         {% endfor %}
         
         <td><a href="{{ path('cryptomonnaie.create')}}" class="btn btn-success"</a>Ajouter</td>


{% endblock %}