{% extends 'base.html.twig' %}

{% block body %}
<table class="table text-center">
        <tr>
            <th class="active text-center">{{'id'|trans}}</th>
            <th class="active text-center">{{'Nom'|trans}}</th>
            <th class="active text-center">{{'Sigle'|trans}}</th>
            <th class="active text-center">{{'Market cap'|trans}}</th>
            <th class="active text-center">{{'projet'|trans}}</th>
            <th class="active text-center">{{'Categorie'|trans}}</th>
            <th class="active text-center">{{'Price'|trans}}</th>
            <th class="active text-center">{{'Date creation'|trans}}</th>
            {% if app.user %}
                <th class="active text-center">{{'Action'|trans}}</th>
            {% endif %}
        </tr>
         {% for crypto in cryptos %}
            <tr>
                <td>{{crypto.id}}</td>
                <td><a href="{{ path('cryptomonnaie.show', {id: crypto.id}) }}">{{crypto.name}}</a></td>
                <td>{{crypto.slug}}</td>
                <td>{{crypto.marketCap}}</td>
                <td>{{crypto.projet}}</td>
                <td>{{crypto.categorie}}</td>
                <td>{{crypto.price}}</td>
                <td>{{crypto.dateCreation|date('Y-m-d')}}</td>
                {% if app.user %}
                <td>
                    <a href="{{ path('cryptomonnaie.delete', {id: crypto.id}) }}"class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    <a href="{{ path('cryptomonnaie.edit', {id: crypto.id}) }}"class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
                {% endif %}
            </tr>

         {% endfor %}
         </table>
         {% if app.user %}
            <td><a href="{{ path('cryptomonnaie.create')}}" class="btn btn-success">{{'Ajouter'|trans}}</a></td>
         {% endif %}

{% endblock %}