{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'Détails de la'|trans}} <i>{{ crypto.name }}</i> :</h1>
    <div class="media" style="margin-top: 30px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>Nom: {{ crypto.name }}</strong> <i>({{ crypto.slug }})</i></h3>
                </div>

                <div class="col-sm-10">
                    <h5>-{{' Publié le '|trans}}{{ crypto.dateCreation|date('m/d/Y') }}</h5>
                </div>

                <div class="col-sm-10">
                     <h5>-{{' Projet: '|trans}}{{ crypto.projet }}</strong></h5>
                </div>

                <div class="col-sm-10">
                   <h5> -{{' Categorie de la Crypto: '|trans}}{{ crypto.categorie }}</h5>
                </div>

            </div>

        </div>
    </div>
        
            <h2>{{'Liste des Commentaires'|trans}}</h2>
           {% for comme in crypto.commentaire %}
             <div class="media" style="margin-top: 5px;">
              <div class="col-sm-10">
                {{comme.com}}
              </div>
              <div class="col-sm-10">
                {{'écrit par  '|trans}}{{comme.getUser.email}}</p>
              </div>
             </div>

              
        
           {% endfor %}
        

             <a href="{{ path('commentaire.create', {id: crypto.id})}}" class="btn btn-success">{{'Ajouter commentaire'|trans}}</a>
        
    
{% endblock %}