{% extends 'base.html.twig' %}

{% block body %}
<td>{{'Bienvenue'|trans}} : {{ last_username }}</td>
<table class="table text-center">

 <tr>
            <th class="active text-center">{{'id'|trans}}</th>
            <th class="active text-center">{{'Nom'|trans}}</th>
            <th class="active text-center">{{'Sigle'|trans}}</th>
            <th class="active text-center">{{'Market cap'|trans}}</th>
            <th class="active text-center">{{'projet'|trans}}</th>
            <th class="active text-center">{{'Categorie'|trans}}</th>
            <th class="active text-center">{{'Price'|trans}}</th>
            <th class="active text-center">{{'Date creation'|trans}}</th>
        </tr>
{% for favori in favoris  %}


            <tr>
                <td>{{favori.id}}</td>
                <td>{{favori.name}}</td>
                <td>{{favori.slug}}</td>
                <td>{{favori.marketCap}}</td>
                <td>{{favori.projet}}</td>
                <td>{{favori.categorie}}
                <td>{{favori.price}}</td>
                <td>{{favori.dateCreation|date('Y-m-d')}}</td>

            </tr>

{% endfor %}
         <td><a href="{{ path('favoris.add')}}" class="btn btn-success"</a>{{'Ajouter un favoris'|trans}}</td>

{% endblock %}