<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Cryptomonnaies{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('cryptomonnaie.list') }}">Liste des cryptos</a>
            {# <a class="navbar-brand" href="{{ path('app_admin_dashboard_index') }}">Admin</a>
            <a href="{{ path('cryptomonnaie.create') }}" class="btn btn-success navbar-btn">{{'crypto.creer'|trans}}</a>
            #}
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-globe"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {#
                        {% for key,locale in locales %}
                        <li>
                            <a href="{{ path(app.request.get('_route'),app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{locale}}</a>
                        </li>
                        {% endfor %}
                    #}
                    </ul>
                </li>
                </li>
                <a class="glyphicon glyphicon-user" href="{{ path('app_profile') }}">{{'app_profile'|trans}}</a>
                <li>
                {% if not app.user %}
                    <li>
                    <a class="glyphicon glyphicon-log-in" href="{{ path('app_login') }}">{{'app_login'|trans}}</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li>
                    <a class="glyphicon glyphicon-log-out" href="{{ path('app_logout') }}">{{'app_logout'|trans}}</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
